/* exercice 1 et 2 */
#ex1 {
    width: 80%;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: stretch; */
    /* flex-wrap: wrap; */
    /* flex-flow: row wrap;
    align-content: ; */
}
.enfant1 {
    border: 1px solid black;
    width: 60px;
    
}
#ex1b {
    width: 80%;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    flex-direction: raw;
}
.enfant1b {
    border: 1px solid black;
    width: 60px;
}

/* exercice 3 */
#ex3 {
    width: 80%;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    

}
.enfant3 {
    border: 1px solid black;
    width: 60px;
    
}
#ex3b {
    width: 80%;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
}
.enfant3b {
    border: 1px solid black;
    width: 60px;
}

/* exercice 4 */
#ex4 {
    width: 80%;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.enfant4 {
    border: 1px solid black;
    width: 400px;
    
}
#ex4b {
    width: 80%;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.enfant4b {
    border: 1px solid black;
    width: 400px;
}

/* exercice 5 */
#ex5 {
    width: 80%;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
}
.enfant5 {
    border: 1px solid black;
    width: 400px;
}

/* exercice 6 */
#ex6 {
    width: 80%;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;  
}
.enfant6 {
    border: 1px solid black;
    width: 400px;
    text-align: center;
}